@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


*{
	padding: 0px;
	margin: 0px;
}

header,section,footer,aside,nav,article,hgroup{
	display: block;
}

body{
	text-align: center;
}

#container{
	background-size: cover;
	background-color: cyan;
}

#heading{
	color:red;
	font-family: 'Indie Flower', cursive;
}

#heading > h1{
	width:50%;
	margin:0 auto;
	margin-bottom:200px;
	margin-top: 20px;
}

#content{
	background-color: white;
	margin: 0 auto;
	width:80%;
	height:300px;
	overflow-wrap: break-word;
}

#content > blockquote{
	color: hsl(0,0%,17%);
}

#content > cite{
	color:hsl(0,0%,40%);
	margin-top: 125px;
	margin-left: 350px;
	font-size: 10px;
}

#footer{
	margin-top: 20vh;
	color: green;
}